div {
    height: 200px;
    width: 200px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 0 #000, 
    -1px -1px 0 #000, 
    1px -1px 0 #000, 
    -1px 1px 0 #000;
}

h1 {
    font-size: 60px;
    text-align: center;
    background-color: #0028527a;
    padding: 20px;
    border-radius: 40px;
    text-shadow: 2px 2px 0 #000, 
    -2px -2px 0 #000, 
    2px -2px 0 #000, 
    -2px 2px 0 #000;
}

.nav-container {
    width: 100%;
    height: 200px;
    position: fixed;
    top: 0;
    display: flex;
    flex-wrap: nowrap;
    z-index: 100;
}

.nav-background {
    width: 100%;
    height: 192px;
    top: 0;
}

.card-container {
    height: 600px;
    width: 30%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    float: left;
    height: 800px;
    width: 30%;
    display: flex;
    justify-content: center;
}

.info-container {
    float: right;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-container h3 {
    padding: 50px;
    background-color: #0028529d;
    border-radius: 400px;
}

.trailer-player {
    position: absolute;
    margin-top: 320px;
    border-style: inset;
    border-width: 15px;
    border-color: rgb(199, 199, 199);
}

.nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: auto;
    scrollbar-width: ;
}

.nav img {
    height: 150px;
    margin: 5px;
    border-style: ridge;
    border-width: 3px;
    border-color: rgb(108, 92, 0);
}

.nav img:hover {
    border-style: ridge;
    border-width: 3px;
    border-color: gold;
}

.small-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 30.1%;
    top: 800px;
    width: 190px;    
}

.small-container h3 {
    text-align: center;
}

.phase-form {
    margin-top: 45px;
    text-align: center;
    line-height: 200%;
}

.card-container img {
    height: 500px;
    border-style: inset;
    border-width: 15px;
    border-color: rgb(199, 199, 199);
}

.description-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 30.1%;
    width: 39.8%;
    height: 600px;
    justify-content: center;
    align-items: center;
}

.description-container h2 {
    text-align: center;
    background-color: #0028527a;
    padding: 20px;
    border-radius: 40px;
}

.description-container p {
    text-align: center;
    padding: 20px;
    font-size: 20px;
    background-color: #0028527a;
    padding: 20px;
    border-radius: 40px;
}

h4 {
    font-size: 60px;
    background-color: #0028527a;
    padding: 20px;
    border-radius: 40px;
}

.small-container img {
    width: 100%;
}

input[type="checkbox"] {
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(0.2em);
}

form {
    font-size: 20px;
}

#submit {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-style: ridge;
    border-width: 3px;
    border-color: rgb(108, 92, 0);
}

#sumbit:hover {
    border-style: ridge;
    border-width: 3px;
    border-color: gold;
}







  .nav::-webkit-scrollbar {
    width: 10px;
  }
  
  .nav::-webkit-scrollbar-track {
    background-color: #f2f2f2;
  }
  
  .nav::-webkit-scrollbar-thumb {
    background-color: #003d7d;
  }